/***JS 验证***/
.validator_fail{
	border:1px solid #DD7870;
	background:url(../images/invalid_line.gif) left bottom repeat-x;
}
#validator_msg{
	position:absolute;z-index:10000;
	line-height:24px;
	border:1px solid #A1311F;
	background:#fff url(../images/ex.gif) 5px 4px no-repeat;
	width:auto;
}
#validator_msg_text
{
	font-size:11px;margin-left:25px;padding-right:15px;
}
.validator_icon{
	width:18px;height:18px;margin:0 0 0 2px;padding:2px 5px;
	background:url(../images/ex.gif) center center no-repeat;
}