* {
	margin:0;
	padding:0;
}
ul,ol {
	list-style-type:none;
}
body {
	font-size:12px;
	background:#ffffff;
}
a {
	text-decoration:none;
	color:#444444;
}
a:hover {
	text-decoration:underline;
}
em {
	font-style:normal;
}
strong {
	font-weight:bold;
}
.br_bug {
	clear:both;
	margin-top:10px;
}
.ff_bug {
	height:0;
	overflow:hidden;
	clear:both;
}
#container {
	width:770px;
	margin:20px auto 0 auto;
}

/* left css start */
#container .left {
	width:180px;
	float:left;
	background:url('../images/bg.png') no-repeat left 122px;
	padding-bottom:4px;
}
#container p.headline {
	height:24px;
	line-height:24px;
}
#container .left span.blank {
	display:block;
	height:4px;
	overflow:hidden;
	background:url('../images/bg.png') no-repeat left -259px;
}
#container .left dl.menu {
	height:227px;
	font-weight:bold;
	font-size:14px;
	letter-spacing:2px;
	background:#fff;
	border-left:1px solid #C4C4C4;
	border-right:1px solid #C4C4C4;
	padding:2px 0 0 4px;
}
#container .left dl dt {
	height:31px;
	line-height:31px;
	color:#ee7302;
	text-align:center;
	background:url('../images/bg.png') no-repeat 0 -50px;
	border:0;
}
#container .left dl dt span {
	margin-right:5px;
	color:#ee7302;
}
#container .left dl dd {
	height:31px;
	margin-top:8px;
	float:left;
	background:url('../images/bg.png') no-repeat 0 0;
}

/* menu select start */
#container .left dl dd.menu_click {
	height:32px;
	background:url('../images/bg.png') no-repeat 0 -100px;
	margin-right:-1px;
	float:right;
	position:relative;
}
#container .left dl dd.menu_click a {
	width:173px;
	height:32px;
}
/* menu select end */

#container .left dl dd a {
	width:170px;
	height:31px;
	line-height:31px;
	text-align:center;
	display:block;
}
#container .left h3.important {
	width:178px;
	height:32px;
	line-height:32px;
	text-indent:15px;
	font-size:12px;
	color:#CE3F13;
	border-left:1px solid #C4C4C4;
	border-right:1px solid #C4C4C4;
	background:#fff;
	clear:both;
}
#container .left p.matter {
	width:158px;
	line-height:20px;
	border-left:1px solid #C4C4C4;
	border-right:1px solid #C4C4C4;
	background:#fff url('../images/bg.png') no-repeat 6px -275px;
	padding:0 2px 20px 18px;
	letter-spacing:1.1px;
}
/* left css end*/
/* right css start*/
#container .right {
	width:580px;
	float:left;
	margin-left:10px;
}
#container .right .look_box {
	padding:10px;
	border:1px solid #FFCFA7;
	background:#FEFFEF;
	margin-bottom:8px;
}
#container .right .look_box strong {
	display:block;
	padding-bottom:10px;
}
#container .right .look_box span {
	display:block;
	line-height:18px;
	text-indent:12px;
}
#container .right h3 {
	font-size:14px;
	height:30px;
	line-height:30px;
	border-bottom:1px solid #D0D0D0;
	text-indent:15px;
}
#container .right p.see_box {
	text-align:right;
	margin-top:5px;
}
#container .right p.see_box span {
	color:red;
}
#container .right fieldset {
	border:0;
	color:#686868;
}
#container .right fieldset dl {
	width:580px;
}
#container .right fieldset dl dt {
	width:130px;
	height:30px;
	line-height:30px;
	text-align:right;
	float:left;
}
#container .right fieldset dl dt span {
	float:right;
	color:red;
}
#container .right fieldset dl dd {
	width:435px;
	height:30px;
	padding-left:15px;
	float:left;
}
#container .right fieldset dl dd img {
	float:left;
	cursor:pointer;
	margin:5px 0 0 5px;
}
#container .right fieldset dl dd.length145px {
	width:145px;
}
#container .right fieldset dl dd.email_box {
	height:100px;
}
#container .right fieldset dl dd.email_box strong {
	display:block;
	width:435px;
	float:left;
	color:#C25F02;
	height:20px;
	line-height:20px;
	font-weight:bold;
	margin-top:10px;
}
#container .right fieldset dl dd.email_box ins {
	display:block;
	width:435px;
	float:left;
	margin-right:-3px;
	text-decoration:none;
	line-height:20px;
}
#container .right fieldset dl dd input {
	border:1px solid #C3C3C3;
	height:18px;
	margin:3px 0 0 0;
	width:140px;
	float:left;
}
#container .right fieldset dl dd  input.radio_css {
	border:0;
	float:left;
	width:12px;
	height:12px;
	margin:1px 0 0 1px;
}
#container .right fieldset dl dd  input.check_css {
	border:0;
	float:left;
	width:14px;
	margin:4px 0 0 20px;
}
#container .right fieldset dl dd  .length85px {
	width:85px;
}
#container .right fieldset dl dd .length40px{
	width:40px;
}
#container .right fieldset dl dd .orange_button {
	width:34px;
	height:22px;
	border:1px;
	border-left-color:#FFB866;
	border-top-color:#FFB866;
	border-right-color:#A95C02;
	border-bottom-color:#A95C02;
	cursor:pointer;
	color:#fff;
	background:#FD9212;
	clear:both;
	float:left;
}
#container .right fieldset dl dd input.blue_button {
	width:34px;
	border:1px;
	height:22px;
	color:#fff;
	background:#277DEA;
	border-left-color:#65ADFF;
	border-top-color:#65ADFF;
	border-right-color:#0A4CA2;
	border-bottom-color:#0A4CA2;
	cursor:pointer;
	clear:left;
	margin:-22px 0 0 40px;
}
#container .right fieldset dl dd.height150px {
	height:150px;
}
#container .right fieldset dl dd.height80px {
	height:80px;
}
#container .right fieldset dl dd span {
	float:left;
}
#container .right fieldset dl dd em {
	float:left;
	margin:7px 4px 0 4px;
}
#container .right fieldset dl dd select {
	float:left;
	height:20px;
	margin-top:3px;
}
#container .right fieldset dl dd label {
	float:left;
	cursor:default;
	margin:7px 15px 0 0;
}
#container .right fieldset dl dd textarea {
	width:380px;
	height:130px;
	float:left;
	border:1px solid #C3C3C3;
}
/*
#container .right fieldset p {
	height:30px;
}
#container .right fieldset p.email_box {
	height:100px;
}
#container .right fieldset p em {
	display:block;
	width:130px;
	line-height:30px;
	text-align:right;
	float:left;
}
#container .right fieldset p span {
	color:red;
	float:left;
	margin-top:7px;
	margin-right:5px;
}
#container .right fieldset p strong {
	display:block;
	color:#C25F02;
	height:20px;
	line-height:20px;
	font-weight:bold;
	margin-top:10px;
	margin-left:130px;
}
#container .right fieldset p ins {
	text-decoration:none;
	display:block;
	margin-left:130px;
	line-height:20px;
	color:#666;
}
#container .right fieldset p input {
	border:1px solid #C3C3C3;
	height:18px;
	margin-top:3px;
	width:140px;
}
#container .right fieldset p input.cYear,#container .right fieldset p input.high,#container .right fieldset p input.hYear,#container .right fieldset p input.hMonth {
	width:40px;
}
#container .right fieldset p input.radio_css {
	border:0;
	width:auto;
}
#container .right fieldset p select {
	margin-top:3px;
}
*/

#container .right fieldset .all_button {
	text-align:center;
	margin:15px auto 50px auto;
}
#container .right fieldset .all_button input {
	border:0;
	background:url('../images/bg.png') no-repeat;
	cursor:pointer;
}
#container .right fieldset .all_button input.save {
	width:50px;
	height:36px;
	background-position:left -150px;
}
#container .right fieldset .all_button input.save_next {
	width:115px;
	height:35px;
	background-position:-55px -150px;
}
#container .right fieldset .all_button input.save_show {
	width:77px;
	height:36px;
	background-position:left -200px;
}
















