* {
	margin:0;
	padding:0;
}
h1 {
text-align:center;
}

#scale {
width:450px;
height:100px;
margin:30px auto;
background:white url("images/slider_scale.jpg") no-repeat center bottom;
position:relative;
}
#scale img {
width:20px;
height:35px;
position:absolute;
margin-top:20px;
margin-right:34px;
margin-left:21px;
left:0px;
top:0px;

}
.moving {
opacity:0.6;
filter:alpha(opacity=60);
}


#volume {
width:80px;
height:126px;
background:#ECE9D8 url("images/vol_bg.gif") no-repeat center 32px;
border:2px outset #ECE9D8;
margin:100px auto;
}
#volume h6 {
font-weight:normal;
font-size:12px;
text-align:center;
line-height:34px;
}
#vol_slider {
width:30px;
height:72px;
margin:0 auto;
position:relative;
}
#vol_slider a {
display:block;
width:22px;
height:11px;
background:url("images/vol_knob.gif") no-repeat center;
margin-left:3px;
margin-bottom:2px;
position:absolute;
left:0;
top:0;
}
#vol_slider a.moving {
opacity:1;
filter:alpha(opacity=100);
}
#vol_slider a:hover {
background-image:url("images/vol_knob_hover.gif");
}
