* {
margin:0;
padding:0;
font-size:12px;
}
h1 {
font-size:24px;
font-weight:bold;
text-align:center;
margin:10px;
}
#content {
width:800px;
margin:20px auto;
}
#content ul {
list-style-type:none;
margin:20px;
}
#content ul li {
border-bottom:1px dashed #AAA;
height:24px;
line-height:24px;
margin:4px;
text-indent:2px;
}
#content ul li em {
float:right;
font-style:normal;
}
#content ul li a {
color:#444;
text-decoration:none;
}
#content ul li a:hover {
color:#F30;
text-decoration:underline;
}
#content p {
width:600px;
line-height:20px;
margin:10px auto;
}
#content p a {

color:#333;
}
#content p a:hover {
text-decoration:underline;
color:#F30;
}
#content p input {
width:20px;
border:1px solid #AAA;
background:none;
height:14px;

}


#content p a.emptyLink {
	color:#999;
	text-decoration:none;
	cursor:default;
	}
#content p a.emptyLink:hover {
	color:#999;
	text-decoration:none;
	cursor:default;
	}