* {
	margin:0;
	padding:0;
}
h1 {
text-align:center;
margin:20px;
}
div.chooser {
width:400px;
height:200px;
background:white;
border:2px ridge aqua;
margin:40px auto;
}
div.chooser div {
width:277px;
height:23px;
position:relative;
margin:30px auto;
background:url("images/color_scale_blue.jpg") no-repeat center;
}
div.chooser div img {
position:absolute;
width:23px;
height:33px;
left:0;
top:0;
margin-top:-5px;
display:block;
cursor:move;
}
div.chooser #red_scale {
background-image:url("images/color_scale_red.jpg");
}
div.chooser #green_scale {
background-image:url("images/color_scale_green.jpg");
}


